<div class="card">
    <div class="card-header">
    <div class="row">
        <div class="col col-md-6">
            <h5 class="card-title">List of Candidates</h5>
        </div>
        <div class="text-end col col-md-6"></div>
        <div class="text-lg-end pt-2">
            <button id="create" class="btn btn-primary" type="button" (click)="createCandidate()">
            <i class="fa fa-plus mr-1"></i>
            <span>{{ "::NewCandidate" | abpLocalization }}</span>
            </button>
        </div>
    </div>
</div>

<div class="card-body">
    <ngx-datatable [rows]="candidate.items" [count]="candidate.totalCount" [list]="list" default >
        <ngx-datatable-column
            [name]="'::Actions' | abpLocalization"
            [maxWidth]="150"
            [sortable]="false"
        >
        <ng-template let-row="row" ngx-datatable-cell-template>
        <div ngbDropdown container="body" class="d-inline-block">
        <button
        class="btn btn-primary btn-sm dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        ngbDropdownToggle
        >
        <i class="fa fa-cog mr-1"></i>{{ '::Actions' | abpLocalization }}
        </button>
        <div ngbDropdownMenu>
        <button ngbDropdownItem (click)="editCandidate(row.id)">
            {{ '::Edit' | abpLocalization }}
        </button>
        <button ngbDropdownItem (click)="deleteCandidate(row.id)">
            {{ '::Delete' | abpLocalization }}
        </button>
        </div>
        </div>
        </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="CV" prop ="name" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div *ngIf="row.dateCvUpload">
                    <button type="button" class="btn btn-outline-secondary btn-sm" (click)="download(row.id)" matTooltip={{formatDateAdded(row.dateCvUpload)}}>Download</button>
                </div>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'::Name' | abpLocalization" prop="name"></ngx-datatable-column>
        <ngx-datatable-column [name]="'::LastName' | abpLocalization" prop="lastName" ></ngx-datatable-column>
        <ngx-datatable-column [width]="300"[name]="'::Email' | abpLocalization" prop="email"></ngx-datatable-column>
        <ngx-datatable-column [name]="'::Availability' | abpLocalization" prop="availability">
            <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.availability | date }}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'::NoticeDuration' | abpLocalization" prop="noticeDuration"></ngx-datatable-column>
        <ngx-datatable-column [name]="'::LastContact' | abpLocalization" prop="lastContact">
            <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.lastContact | date }}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'::CurrentSalary' | abpLocalization" prop="currentSalary"></ngx-datatable-column>
        <ngx-datatable-column [name]="'::RequestedSalary' | abpLocalization" prop="requestedSalary"></ngx-datatable-column>
    </ngx-datatable>
    </div>
</div>


<abp-modal [(visible)]="isModalOpen">
    <ng-template #abpHeader>
        <h3>{{ (selectedCandidate.id ? '::Edit' : '::NewCandidate') | abpLocalization }}</h3>
    </ng-template>

    <ng-template #abpBody>
        <form [formGroup]="form" (ngSubmit)="save()">
        <div class="form-group">
            <label for="candidate-name">Name</label><span> * </span>
            <input type="text" id="candidate-name" class="form-control" formControlName="name" autofocus />
        </div>
        
        <div class="form-group">
            <label for="candidate-last-name">Last Name</label><span> * </span>
            <input type="text" id="candidate-last-name" class="form-control" formControlName="lastName" autofocus />
        </div>
        
        <div class="form-group">
            <label for="candidate-email">Email</label><span> * </span>
            <input type="email" id="candidate-email" class="form-control" formControlName="email" autofocus />
        </div>
        
        <div class="form-group">
            <label>Availability</label>
            <input
                #datepicker="ngbDatepicker"
                class="form-control"
                name="datepicker"
                formControlName="availability"
                ngbDatepicker
                (click)="datepicker.toggle()"
        />
        </div>

        <div class="form-group">
            <label for="candidate-notice-duration">Duration of Notice</label>
            <input type="number" id="candidate-notice-duration" class="form-control" formControlName="noticeDuration" />
        </div>

        <div class="form-group">
            <label>Date of Last Contact</label>
            <input
                #date="ngbDatepicker"
                class="form-control"
                formControlName="lastContact"
                ngbDatepicker
                (click)="date.toggle()"
        />
        </div>
        
        <div class="form-group">
            <label for="candidate-current-salary">Current Salary</label>
            <input type="number" id="candidate-current-salary" class="form-control" formControlName="currentSalary" />
        </div>
        
        <div class="form-group">
            <label for="candidate-requested-salary">Requested Salary</label>
            <input type="number" id="candidate-requested-salary" class="form-control" formControlName="requestedSalary" />
        </div>
        
        <div *ngIf="!isEmpty(showSkills)">
        <br>
        <table class="table table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Skill</th>
                    <th scope="col">Level</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let skill of showSkills; let i = index">
                    <td scope="row">{{i+1}}</td>
                    <td>{{skill.Name}}</td>
                    <td>{{skill.Note}}</td>
                    <td><button type = "button" class ="btn btn-danger btn-sm" (click)="removeSkill(skill.Id)">Remove</button></td>
                </tr>
            </tbody>
        </table>
    </div>

        <div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm">
                        <label for="skills">Skills</label>
                        <select class="form-select" id="skills" formControlName="skill">
                            <option selected>Select skill</option>
                            <option *ngFor = "let skill of listSkills" [ngValue]="skill.id">{{skill.skillName}}</option>
                        </select>
                    </div>
                    <div class="col-sm">
                        <label for="level">Level</label>
                        <select class="form-select" id="level" formControlName="note">
                            <option selected>Select level</option>
                            <option [ngValue]="1">1</option>
                            <option [ngValue]="2">2</option>
                            <option [ngValue]="3">3</option>
                            <option [ngValue]="4">4</option>
                            <option [ngValue]="5">5</option>
                        </select>
                    </div>
                    <div class="col-sm">
                        <br>
                        <button type="button" class="btn btn-secondary" (click) = "addSkill()">Add Skill</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="file">Upload CV</label>
            <div>
            <input 
                formControlName="file"
                id="file" 
                type="file" 
                accept="application/pdf"
                class="form-control"
                (change)="onFileSelect($event)">
            </div>
        </div>
        </form>
    </ng-template>

    <ng-template #abpFooter>
        <button type="button" class="btn btn-secondary" abpClose>
        {{ '::Close' | abpLocalization }}
        </button>
        <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid">
            <i class="fa fa-check mr-1"></i>
            {{ '::Save' | abpLocalization }}
        </button>
    </ng-template>
</abp-modal>
